body{
  margin:0;
  background:linear-gradient(#0f2027,#203a43,#2c5364);
  font-family:Arial;
  color:white;
}
.box{
  max-width:400px;
  margin:60px auto;
  background:rgba(0,0,0,.6);
  padding:20px;
  text-align:center;
  border-radius:10px;
}
button,.btn{
  padding:10px;
  width:100%;
  margin:5px 0;
  font-size:16px;
}
a{color:#ffd}
input{width:100%;padding:10px}
